@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 94%;
  }
}

.animate-scroll-line {
  animation: progress 0.2s ease-in-out forwards;
}

.blank-screen {
  transition: opacity 0.3s ease-in-out;
}
